<footer class="text-center">
  <p>Written as a demo, by
    <a
    class="text-blue-700"
    target="_blank"
    href="https://www.linkedin.com/in/gabrielraducu/">Gabriel Raducu</a
  >
  </p>
  This website is built using <a
    href="https://astro.build"
    target="_blank"
    class="text-blue-700">Astro</a
  > and <a
  href="https://react.dev"
  target="_blank"
  class="text-blue-700">react</a
</footer>
