<header class="text-center">
  <h1 class="text-xl">Game of life</h1>
  <h2 class="mt-2">
    For rules please check this
    <a
      class="text-blue-700"
      target="_blank"
      href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life">link</a
    >
  </h2>
  <h5>Written as a demo, by
    <a
    class="text-blue-700"
    target="_blank"
    href="https://www.linkedin.com/in/gabrielraducu/">Gabriel Raducu</a
  >
  </h5>
</header>
