<header class="text-center">
  <h1 class="text-xl">Game of life</h1>
  <p>
    <a
      class="text-blue-700"
      target="_blank"
      href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life">tl:dr;</a
    >

     click on some squares and hit "Start Simulation"
  </p>
</header>
