<header class="text-center">
  <h1 class="text-xl">This is the game of life</h1>
  <h2 class="mt-2">
    For rules please check this
    <a
      class="text-blue-700"
      target="_blank"
      href="https://en.wikipedia.org/wiki/Conway's_Game_of_Life">link</a
    >
  </h2>
</header>
