---
import { TableContent } from "../react/components";
---

<script>
  import {
    speedMs$,
    nrOfIterations$,
  } from "../state/atoms.state";

  // @ts-ignore
  function handleChangeSpped({ currentTarget: { value } }: Event) {
    speedMs$.set(+value);
  }
  const speedInput = document.getElementById("speed") as HTMLInputElement;
  const iterations = document.getElementById("iterations") as HTMLInputElement;

  nrOfIterations$.subscribe((itValue) => {
    iterations.value = itValue.toString();
  });

  if (speedInput) {
    speedInput.value = speedMs$.get().toString();
    speedInput.addEventListener("change", handleChangeSpped);
  }

  window.onbeforeunload = () => {
    speedInput?.removeEventListener("change", handleChangeSpped);
  };
</script>
<main class="flex-grow flex flex-col py-3">
  <section class="self-center grid grid-cols-2 gap-3">
    <div>
      <label for="cols">Speed in ms:</label><br />
      <input class="p-1" min={50} max={500} step={50} type="number" id="speed" />
    </div>
    <div>
      <label for="cols">Nr of iterations:</label><br />
      <input
        disabled
        class="p-1 bg-gray-300"
        type="text"
        maxlength="3"
        id="iterations"
      />
    </div>
  </section>
  <section class="flex-grow flex align-middle mt-2">
    <div class="m-auto">
      <TableContent client:only="react" />
    </div>
  </section>
</main>
