---
import { TableContent } from "../react/components";
---

<script>
  import { numberOfCols } from "../state/cols.state";

  // Set the store to true when the button is clicked
  // @ts-ignore
  function openDialog({ currentTarget: { value } }: Event) {
    numberOfCols.set(+value);
  }
  const colsInput = document.getElementById("cols") as HTMLInputElement;
  colsInput.value = numberOfCols.get().toString();
  colsInput.addEventListener("change", openDialog);
</script>
<main class="flex-grow flex flex-col py-3">
  <section class="self-center">
    <label for="cols">Number of columns:</label><br />
    <input class="p-1" min={10} max={50} type="number" id="cols" />
  </section>
  <section class="flex-grow flex align-middle">
    <div class="m-auto">
      <TableContent client:only="react" />
    </div>
  </section>
</main>
